body{
    padding:150px;
    background-color: peachpuff;
}
fieldset{
    background-color: white;

}

h1{
    font-family: georgia;
    text-align: center;
    background-color: white;
}
#field2 legend{
    font-weight: bold;
}
#field2{
    background-color: white;
}
#field5 button{
    background-color: red;
    border: none;
}
#field5 legend{
    font-weight: bold;
}
button{
    background-color: red;
        color: white;
        border: none;
        padding: 2px;
        
    
}
